h1 {
  font-size: xx-large;
  color: white;
  font: verdana
}

body {
  background-color: grey;
  font: white;
}

p {
  color: white;
  font: verdana;
}

label {
  color: white;
}

div {
  color: white;
}

.title {
  color: white;
  font-size: xx-large;
  position: absolute;
  right: 50%;
}
